.home-slider-img{
    position: absolute!important;
    width: 100%;
    height: 100%;

    &-slide{
       background-position: center;
       background-size: cover;
       width: 100%;
       min-height: 800px;
       height: 100vh;
    }
}

.home-content{
    color: #fff;
    position: relative;
    margin-top: 34px;
    overflow-x: hidden;
    &:before{
        content: '';
        background: rgba(0, 0, 0, 0.4);
        height: 100%;
        position: absolute;
        left: -10%;
        width: 50%;
        max-width: 695px;
        transform: skewX(-15deg);
    }
    .container{
        position: relative;
    }
    &-header{
        position: relative;
        max-width: 600px;
        padding-left: 5px;
        margin-top: 40px;
        &:before{
            content: '';
            height: 100%;
            width: 2px;
            background: #fff;
            transform: skewX(-15deg);
            position: absolute;
            left: -20px;
        }
    }
    &-title span, &-subtitle span{
        position: relative;
        padding: 0 15px;
    }
    &-title{
        font-size: 90px;
        text-transform: uppercase;
        line-height: normal;
        color: $text-color;
        font-family: 'Intro', sans-serif;
        position: relative;
        display: inline-block;
        margin-bottom: 6px;
        &:before{
            content: '';
            background: rgba(255, 255, 255, 0.7);
            height: 100%;
            width: 100%;
            position: absolute;
            transform: skewX(-15deg);
        }
          
    }
    &-subtitle{
        font-size: 36px;
        line-height: normal;
        position: relative;
        color: $text-color;
        font-family: 'IntroItalicBold', sans-serif;
        display: inline-block;
        &:before{
            content: '';
            background: rgba(255, 255, 255, 0.7);
            height: 100%;
            width: 100%;
            position: absolute;
            transform: skewX(-15deg);
        }
    }
    &-subtitle span{
        margin: 5px 0 15px;
        padding: 0 55px;
        display: block;
        &:after{
            content: '';
            width: 135%;
            height: 3px;
            background: #000;
            display: block;
            position: relative;
            left: -20%;
        }
    }
    &-price{
        font-size: 16px;
        display: inline-block;
        position: relative;
        z-index: 1;
        margin-left: 10px;
        &:before{
            content: '';
            background: linear-gradient(0deg, rgb(42,235,42) 0%, rgb(0,117,0) 100%);
            box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
            width: 100%;
            height: 100%;
            display: inline-block;
            transform: skewX(-15deg);
            position: absolute;
        }
        &-text{
            font-family: "Intro", sans-serif;
            position: relative;
            margin: 0 15px;
            letter-spacing: 2px;
        }
        &-number{
            font-size: 45px;
            margin: 0 10px;
        }
    }
    &-slider{
        left: -41px;
    }
    &-slide{
        display: flex!important;
        align-items: center;
        margin-left: 15px;
    }
    &-text{
        font-size: 20px;
        font-weight: bold;
        max-width: 300px;
        margin: 20px 0;
        line-height: normal;
        letter-spacing: 1px;
    }
    &-button{
        text-transform: uppercase;
        font-size: 23px;
        letter-spacing: 1px;
        padding: 5px 15px;
    }
    &-controls{
        display: flex;
        align-items: center;
        margin: 40px 0;
    }

}

.slick-slide{
        overflow-x:hidden;
    }

.slick-dots{
    display: flex;
    margin: 0 20px;
    
    li{
        margin: 5px 10px;
        line-height: 0;
    }
    li.slick-active button{
        position: relative;
        &:after{
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #fff;
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    button{
        border: 2px solid #fff;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        font-size: 0;
        background: transparent;
    }
}

.slick-arrow{
    border: none;
    background: transparent;
    font-size: 36px;

}  
  

.home-advantages{
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;

    &-title{
        font-size: 22px;
        font-weight: bold;
        margin: 7px 0;
    }
}

  